<html>
<head>

	<link th:href="@{/styles/main.css}" rel="stylesheet" />

</head>

<body>
<script type="text/javascript" th:src="@{/js/actions.js}"></script>

<div class="container">

<div class="navbar">
	<a th:href="@{'/web/addClient'}">Add Client</a>
	<a th:href="@{'/court/courtInformation/'}">Show Courts</a>
	<div class="dropdown">
		<button class="dropbtn">External Methods
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a th:href="@{'/web/deleteAll'}" onclick="return confirm('Are you sure you want to delete all clients?');">Delete All Clients</a>
			<a th:href="@{'/web/deleteRandomReservation'}" onclick="return confirm('Are you sure you want to delete random reservation?');">Delete Random Reservation</a>
		</div>
	</div>
</div>

<div class="clientsTable">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th>Client Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${clients.empty}">
				<td colspan="2">No Client Available</td>
			</tr>
			<tr th:each="client : ${clients}">
				<td><span th:text="${client.id}"> Id </span></td>
				<td><span th:text="${client.firstName}"> First Name </span></td>
				<td><span th:text="${client.lastName}"> Last Name </span></td>
				<td><span th:text="${client.phoneNumber}"> Phone Number</span></td>
				<td><span th:text="${client.email}"> Email </span></td>
				<td>
				<a th:href="@{'/web/update/' + ${client.id}}">Edit</a> 
				| 
				<a th:href="@{'/web/delete/' + ${client.id}}" onclick="return confirm('Are you sure you want to delete the reservation?');"> Delete</a>
                -----> 
                <a th:href="@{'/web/clientReservations/' + ${client.id}}">Show Client Reservation</a>
                </td>
			</tr>
		</tbody>
	</table>
</div>

</body>
</html>
